{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div style="padding-left: 200px; padding-right: 180px;">It's good to change your password once in a while. Please make sure your new password is at <b>least 8 characters long</b>, <b>has an upper case letter</b> and <b>a special character</b>.</div>
    <hr>
    <form action="/changePassword", method="POST">
        <input onkeyup="currentColor()" id="currentPassword" autocomplete="off" name="currentPassword" autofocus class="form-control" type="text" placeholder="current password"> <br> <br>
        <input id="newPassword" name="newPassword" class="form-control" type="text" placeholder="new password"> <br> <br>
        <input onkeyup="matchingError()" id="confirmNewPassword" autocomplete="off" name="confirmNewPassword" class="form-control" type="text" placeholder="confirm new password"> <br> <br>
        <button onclick="alertError()" class="btn btn-primary" type="submit">Submit</button>
    </form>
        <script>
        function matchingError() {
            new_password = document.getElementById("newPassword").value;
            confirm_password = document.getElementById("confirmNewPassword").value;
            if (new_password !== confirm_password) {
                document.querySelector("#newPassword").style.color = "Crimson";
                document.querySelector("#confirmNewPassword").style.color = "Crimson";
                document.getElementById("newPassword").style.borderColor = "Crimson";
                document.getElementById("confirmNewPassword").style.borderColor = "Crimson";                

            }
            else {
                document.querySelector("#newPassword").style.color = "DarkCyan";
                document.querySelector("#confirmNewPassword").style.color = "DarkCyan";
                document.getElementById("newPassword").style.borderColor = "#ced4da";
                document.getElementById("confirmNewPassword").style.borderColor = "#ced4da";
            }
        }
        function alertError() {
            current_password = document.getElementById("currentPassword").value;
            new_password = document.getElementById("newPassword").value;
            confirm_password = document.getElementById("confirmNewPassword").value; 
            if (current_password === "") {
                alert("Please enter your current password!");
                document.getElementById("currentPassword").style.borderColor = "Crimson";
                event.preventDefault();
            }
            else if (new_password === "") {
                alert("New password is required!");
                event.preventDefault();
            }
            else if (confirm_password === "") {
                alert("Please confirm new password!");
                event.preventDefault();
            }
            else if (new_password !== confirm_password) {
                alert("Password doesn't match!");
                event.preventDefault();
            }
            else if (new_password.length < 8) {
                alert("Your password must be at least 8 characters long!");
                event.preventDefault();
            }                       
        }

        function currentColor() {
            current_password = document.getElementById("currentPassword").value;
            if (current_password !== "") {
                document.getElementById("currentPassword").style.borderColor = "#ced4da";
            }
        }
    </script>
{% endblock %}