{% extends "layout.html" %}

{% block title %}
    Get A Password
{% endblock %}

{% block main %}
    <div style="color: crimson;">{{notFound}}</div> <br>
    <div>Forgot your password? No problem! Just enter your registered username to get a new password.</div>
    <hr>
    <form action="/forgotPassword", method="POST">
        <div>
            <input id="username" name="username" type="text" autocomplete="off" autofocus class="form-control" placeholder="Username">
        </div> <br>
        <div>
            <input id="newPassword" name="newPassword" type="text" class="form-control" placeholder="New Password">
        </div> <br>
        <div>
            <input onkeyup="matchingError()" id="confirmNewPassword" name="confirm NewPassword" type="text" class="form-control" placeholder="Confirm New Password">
        </div>  <br>
        <button onclick="alertError()" class="btn btn-primary" type="submit">Submit</button>      
    </form>
    <script>
        function matchingError() {
            new_password = document.getElementById("newPassword").value;
            confirm_password = document.getElementById("confirmNewPassword").value;
            if (new_password !== confirm_password) {
                document.querySelector("#newPassword").style.color = "Crimson";
                document.querySelector("#confirmNewPassword").style.color = "Crimson";
                document.getElementById("newPassword").style.borderColor = "Crimson";
                document.getElementById("confirmNewPassword").style.borderColor = "Crimson";                

            }
            else {
                document.querySelector("#newPassword").style.color = "DarkCyan";
                document.querySelector("#confirmNewPassword").style.color = "DarkCyan";
                document.getElementById("newPassword").style.borderColor = "#ced4da";
                document.getElementById("confirmNewPassword").style.borderColor = "#ced4da";
            }
        }
        function alertError() {
            username = document.getElementById("username").value;
            new_password = document.getElementById("newPassword").value;
            confirm_password = document.getElementById("confirmNewPassword").value; 
            if ((username === "") || (new_password === "") || (confirm_password === "")) {
                alert("All fields are required!");
                event.preventDefault();
            }
            else if (new_password !== confirm_password) {
                alert("Password doesn't match!");
                event.preventDefault();
            }
            else if (new_password.length < 8) {
                alert("Your password must be at least 8 characters long!");
                event.preventDefault();
            }                       
        }
    </script>
{% endblock %}