{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
        <tr class="table-header">
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        {% for row in rows %}
            <tr class="table-row">
                <td>{{row["symbol"]}}</td>
                <td>{{row["name"]}}</td>
                <td>{{row["shares"]}}</td>
                <td>{{row["price"]}}</td>
                <td>{{row["total"]}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{cashRemain}}</td>           
        </tr>
        <tr class="table-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{value}}</td>
        </tr>  
    </table>
    <hr>
{% endblock %}