{% extends "layout.html" %}

{% block main %}
    <div style="color: crimson;">{{notMatched}}</div> <br>
    <form action="/sell", method="POST">
        <div>
            <select class="form-control" name="select" id="select">
                {% for symbol in symbol_list %}
                <option value="{{symbol}}">{{symbol}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <input class="form-control" name="shares" type="number" placeholder="Shares">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}